*, :before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
    font-family: 'socicon';
    src: url('fonts/socicon-webfont.eot');
    src: url('fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon-webfont.woff') format('woff'),
         url('fonts/socicon-webfont.ttf') format('truetype'),
         url('fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

@font-face {
    font-family: 'Farray';
    src: url('fonts/farray.otf');
}
@font-face {
    font-family: 'PT Mono';
    src: url('fonts/ptmono.ttf');
}
@font-face {
    font-family: 'PT Mono Bold';
    src: url('fonts/ptmonob.ttf');
}
@font-face {
    font-family: 'Kelson';
    src : url('fonts/kelson-sans.otf');
}
a{
    text-decoration: none;
    color: inherit;
}



body{
    margin: 0;
    background-color: #000000;
}
p, label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.hidden{
    display: none !important;
}
.nav {
    background-color: #141414;
    position: fixed;
    width: 60px;
    height: 100%;
    text-align: center;
    z-index: 3;
    left:0;
    top:0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
    -moz-transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
    -o-transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
    transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
}
.nav-logo {
    display: block;
    margin: auto;
    margin-top: 15px;
}
.nav-items {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}
.nav-item {
    position: relative;
    overflow: hidden;
}
.last{
    border: none !important;
}
.nav-item-main {
    -webkit-transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    -moz-transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    -o-transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    background-color: #191719;
    z-index: 2;
}
.nav-iconContainer {
    display: block;
    position: relative;
    width: 60px;
    height: 45px;
    border-bottom: 1px;
}
.nav-iconContainer:hover{
    background-color: #1e1e1e;
   
}
.nav-iconContainer img{
    width:25px;
    margin-top: 15px;
}
#medley{
    margin-top: 10px;
}
#info{
    width:auto;
}


.day:checked + .label1   {
     font-weight: 700;
}

.cmp:checked + .label1 {
     font-weight: 700;
}

.day_art:checked + .label2 {
     font-weight: 700;
}

.sal_art:checked + .label2 {
     font-weight: 700;
}


/* Button effects*/
label {
    cursor: pointer;
}
input[type=radio],
input[type=checkbox] {
    display: none;
}
.label1:before {
    content: "";
    margin-top: 3px;
    width: 12px;
    height: 12px;
    margin-left: 140px;
    position: absolute;
    background-color: #35BFBF;
}

.input label:before {
    border-radius: 8px;
}
.input2 label {
    margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label:before {
    content: "";
    color: #35BFBF;
    font-size: 28px;
    text-align: center;
    line-height: 10px;
    margin-left: 140px;
    margin-top: 3px;
    background-color:#35BFBF;
}

input[type=checkbox]:checked + label:before {
    content: "";
    font-size: 12px;
    color: #f3f3f3;
    text-align: center;
    line-height: 12px;
    background-color:#35BFBF;
}

/*End button*/


.sub_menu{
    background-color: #e6e6e6;
    width: 200px;
    height: 100%;
    position: absolute;
    top:0;
}

.sub_menu_pano{
    background-color: #e6e6e6;
    width: 300px;
    height: 100%;
    position: absolute;
    top:0;
}
.head{
    height:175px;
    background-color: #ffffff;
    width:100%;
    position: absolute;
    text-align: center;
}
.title{
    margin-left: auto;
    margin-right: auto;
}
h2, h3{
    font-family: 'Farray', sans-serif;
	color:#696969;
}

.timeline_container{
    margin-top: 10%;
    margin-left: 5%;
    padding: 10px;
    background-color: #ffffff;
    width:850px;
    height:330px;
}

.generate_pano_container{
    margin-top: -3px;
    margin-left: 5%;
    padding: 10px;
    background-color: #ffffff;
    width:850px;
    height:150px;
}

.timeline_artists_container{
    display: table;
    margin: 0 auto;
}

.art_pano_container{
    float: left;
    width: 200px;
    height: 100px;
    display: inline-block;
}

.button_medley{
    position:relative;
    margin-top:50px;
    margin-left:320px;
}


.odd{
    margin-top:15px;
}

.even{
    margin-top:175px;
}

.art_heure_pano{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color:#9C9C9C;
    text-align: center;
    font-weight:700;
}

.art_name_pano{
    position: relative;
    margin-top:5px;
    font-family: 'Farray', sans-serif;
    color:#000000;
    text-align: center;
}

.art_salle_pano{
    position: relative;
    margin-top:7px;
    font-family: 'PT Mono', sans-serif;
    font-size: 12px;
    font-weight:500;
    color: #000000;
    text-align: center; 
}



hr{
    width: 25px;
    border:1px solid black;
    margin-left: 25px;
}

.line_container{
    position: absolute;
    width:780px;
    height:3px;
}

.start_timeline{
    position: absolute;
    left:25px;
    top:130px;
}
.end_timeline{
    position: absolute;
    left:805px;
    top:130px;
}
.timeline_container .logo_timeline{
    position: absolute;
    left:95%;
    top:82%;
}
.blue_line{
    position: absolute;
    margin-top:126px;
    width:100%; 
    height:3px;
    background-color: #35bfbf;
    border-style:none;
}
.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
    margin:0px 25px;
}
.arrow{
    position: absolute;
    top:175px;
    width: 30px;
    margin-left: 85px;
}

.arrow_pano{
    position: absolute;
    top:175px;
    width: 30px;
    margin-left: 140px;
}

.content{
    position: absolute;
    left: 60px;
    right:0;
    height: 100%;
    overflow: hidden;
}
.inputs{
    position: absolute;
    top: 300px;
    float: left;
    width: auto;
    display: inline;
}
.inputs_j1j2j3{
    position: absolute;
    top: 180px;
    float: left;
    width: auto;
    display: inline;
}

.inputs_pano_art{
    position: absolute;
    top: 320px;
    float: left;
    width: auto;
    display: inline;  
}
.input, .input2{
    margin-left: 20px;
    padding-top: 10px;
}
.input_container{
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.input_container:hover{
    background-color: #f3f3f3;
}

.day, #c1{
    margin-left: 60px;
    cursor: pointer;
}
.label1{
    padding-top: 10px;
    cursor: pointer;
}
.active{
    background-color: #ffffff;
}
.active:hover{
    background-color: #ffffff;
}
.active:after{
    background-color: #ffffff;
}
#camp{
    margin-top: 90px;
}
#c1{
    margin-left: 76px;
    cursor:pointer;
}
.tickets{
    position: absolute;
    left: 200px;
    background-image: url(images/bg-billet.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.pano_content{
    position: absolute;
    left: 200px;
    background-image: url(images/bg-pano.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.widget{
    margin-bottom: 40%;
    margin-top: 10%;
    background-color: #ffffff;
    padding: 0px;
    text-align: center;
    margin-left: 2%;
    display:inline-block;
    vertical-align: top;
}
.pass1{
    width: 20%;
}
.first{
    margin-left: 10%;
}
.head_wg{
    background-color: #e6e6e6;
    padding: 7px;
}
.widget .list_bte{
    font-family: 'PT Mono', sans-serif;
    font-size: 12px;
    padding:0px 20px;
    font-weight: 100;
    color: #363636; 
}

.list{
     background: #000000;
}


.arrow_grey{
    margin-bottom: 20px;
}
.price{
    font-family: 'PT Mono Bold';
    padding-top: 20px;
    font-size: 20px
}
.book{
    margin-top: 50px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #35bfbf; 
}

.generer{
    margin-top: 30px;
    margin-left: 35%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #35bfbf; 
}


/* 1er effet */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-8px);
}

/* 2eme effet */
.button,
[class*="button-"] {
    padding: 0px 10px;
    border: 2px solid #35bfbf;
    position: relative;
    overflow: hidden;
    margin: 0 1em 1em 0;
    height: 2.0em;
    font: 600 1.0em/2.0em 'Open Sans', sans-serif;
    border-radius: 2px;
    -moz-transition: 0.35s ease all;
    -o-transition: 0.35s ease all;
    -webkit-transition: 0.35s ease all;
    transition: 0.35s ease all;
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #35bfbf;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1.01);
  transform: scaleX(1.01);
}

.bottom_btn{
    float: right;
    height: 50px;
}

.open_sans{
    font-family: 'Open Sans', sans-serif;
    color: #a8a8a8;
}
.explication_pano{
    width:300px;
    margin-left:30%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color:#000000;
    font-size: 11px;
}
#disabled{
    color:#a8a8a8;
    border: 2px solid #a8a8a8;
    cursor: default;
}
.pass2{
    width: 40%;
}
.only{
    margin-left: 23%;
}
.pass1c{
    width: 25%;
}
.first2{
    margin-left: 15%;
}
#mation{
    text-align: left;
    margin-left: 26px;
    position: relative;
    bottom: 20px;
}
.inputs_art{
    position: absolute;
    top:225px;
    margin-left: 10px;
}


.input_h{
    position: absolute;
    top:570px;
    margin-left: 10px;
}

.inputs_sal{
    position: absolute;
    top:400px;
    margin-left: 10px;
}

.title_art{
    color:#000000;
    font-size: 25px;
    margin-left: 12px;
    margin-bottom: 10px; 
}

/*.title_art:hover{
    background-color: #e6e6e6;
}*/

.input_container_art{
    width: 200px;
    height: 22px;
    font-size: 14px;
}

.input_container_art_check{
    width: 200px;
    height: 22px;
    font-size: 14px;
}

.input_container_art label:before {
    border-radius: 5px;
}
.input_container_art_check label:before {
    border-radius: 2px;
}
.label2{
    font-weight: thin;
    width:100px;
}

.label_verouille{
    font-weight: thin;
    width:100px;
}

.label2:before {
    content: "";
    margin-top: 4px;
    width: 10px;
    height: 10px;
    margin-left: 150px;
    margin-top: 3px;
    width: 12px;
    height: 12px;
    margin-left: 140px;
    position: absolute;
    background-color:  #e6e6e6;
    border-color: #35BFBF;
    border-style: solid;
    border-width: 2px;
}

.label_verouille:before {
    content: "";
    margin-top: 4px;
    width: 10px;
    height: 10px;
    margin-left: 150px;
    margin-top: 3px;
    width: 12px;
    height: 12px;
    margin-left: 140px;
    position: absolute;
    background-color:  #ff9999;
    border-color: #ff9999;
    border-style: solid;
    border-width: 2px;
}

.input_art{
    margin-left: 10px;
    padding-top: 2px;
}
.art_content{
    position: absolute;
    left: 200px;
    width: 100%;
    background-color: #ffffff;
}
.inputs_art2{
    position: absolute;
    top:400px;
    margin-left: 10px;
}
.slider{
    margin-top: 10px;
    margin-left: 10px;
    width:150px;

}
 .row1 {
    cursor:pointer;
    width:100%;
    height:200px;
    position:relative;
    overflow:hidden;
  }
  
  .row__img__wrapper {
    position:absolute;
    width:100%;
    max-width: 1550px;
    height:100%;
    top:0;
    overflow:hidden;
    left:0;
    
    &.row__img__wrapper--nb {
      z-index:1;
      -webkit-filter: grayscale(100%); 
      filter: grayscale(100%);
    }
    
    &.row__img__wrapper--color {
      z-index:10;
    }
  }
  .row__img__wrapper--color{
    z-index: 900;
  }
    
  .row__img {
    position:absolute;
    width:100%;
    max-width: 1550px;
    height:100%;
    top:0;
    left:0;
    background-size:cover;
  }
  .container_img{
    width: 100%;
    height: 100%;
    background-size:cover;
  }

  .art_name{
    z-index: 1000;
    position: absolute;
    left:0;
    right: 0;
    font-size: 55px;
    text-align: center;
    font-family: 'Farray';
    color: #ffffff;
    bottom:25px;
  }
  .dropdown{
    display: inline-block;
  }
  .row_art{
    max-height: 400px;
    max-width: 1550px;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 2000;
    color:#6f6f6f;
  }
  .time{
    padding: 5px 15px;
    border: 2px solid #35bfbf;
    width: 83px;
    font-weight: bold;
  }
  .art_vid{
    width: 35%;
    height: 95%;
    display: inline-block;
  }
  .art_main{
    width: 35%;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    bottom: 30px;
  }
  .art_social{
    width: 15%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    margin-top: 50px;
  }
  .art_day{
    padding-top: 6px;
    color: #000000;
    font-size: 18px;
    font-family: 'PT MONO BOLD', sans-serif;
  }
  .repeat{
    height: auto;
  }
  .art_style{
    position: relative;
    bottom: 15px;
    font-family: 'PT MONO',sans-serif;
    color: #000000;
  }
  .description{
    font-size: 13px;
    position: relative;
    bottom: 10px;
  }
  .add_pano{
    font-family: 'Open Sans',sans-serif;
  }
  .add_img{
    width: 15px;
  }
  .socicon{
    font-family: 'socicon';
  }
  .social{
    font-size: 35px;
    color:#959595;
    display: block;
    margin-bottom: 15px;
  }
  .leave{
    width: 35px;
    margin-top: 145px;
    cursor: pointer;
  }
  .icon_timeline{
    display: block;
    position: relative;
  }
  .odd .icon_timeline{
    z-index:10;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    top:19px;
    margin-left: 95px;
  }
  .even .icon_timeline{
    z-index:10;
    margin-left: 94px;
    bottom: 116px;
  }
    .artiste{
        min-height: 750px;
        overflow: scroll;
    }
.info_content{
    top: 0;
    margin-left:200px;
    width: 1300px;
    height: 100%;
    position: absolute;
    overflow: scroll;
}
.info_line{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #a8a8a8;
}
.title-line{
    background-color:#e6e6e6;
    position: absolute;
    width: 100%;
    margin-top: 5px;
}
.info_title{
    margin-left: 80px;
}
.arrow_grey1{
    position: absolute;
    margin-top: 60px;
    margin-left: 70px;

}
.infos{
    position: absolute;
    top:225px;
    margin-left: 10px;
}
.img-acces{
    background-attachment: inherit;
    background-image: url(images/acce.png);
    background-repeat: no-repeat;
    height: 1090px;
    margin-top: 74px;
}
.img-entree{
    background-attachment: inherit;
    background-image: url(images/entree.png);
    background-repeat: no-repeat;
    height: 980px;
}
.img-trsp{
    background-attachment: inherit;
    background-image: url(images/trsp.png);
    background-repeat: no-repeat;
    height: 856px;
}
.img-camping{
    background-attachment: inherit;
    background-image: url(images/camping.png);
    background-repeat: no-repeat;
    height: 1084px;
}
.img-savoir{
    background-attachment: inherit;
    background-image: url(images/savoir.png);
    background-repeat: no-repeat;
    height: 735px;
}
.map-acces{
    display: inline-block;
    margin-left:600px;
    margin-top: 90px;
}
.sub_info{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 11;
}
.sub_info_1{
    position:fixed;
    width: 100%;
    top:0;
    z-index:10;
}
.sub_info_2{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 9;
}
.sub_info_3{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 8;
}
.sub_info_4{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 7;
}
.toHide{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0;
    z-index: 700;
}
.hr_billet{
    margin-left: 16px;
}
.artiste_list{
    margin-top: 0px;
}
.jour_pano{
    position:absolute;
    top:5px;
    left:30%;
    font-family:'Kelson';
    font-weight:500;

}

.entree{
    overflow: hidden;
 }

.pano{
    overflow: scroll;
}
.player{
    height: 400px;
}
.play_button{
    position: relative;
    bottom:156px;
    right:21%;
    cursor: pointer;
}
.marged{
    margin-left: 60px;
}
h4{
  font-size: 21.323px;
  color: rgb( 53, 191, 191 );
  text-transform: uppercase;
    font-family:'Kelson';
  -moz-transform: matrix( 1.00768775493047,0,0,1.00761679100407,0,0);
  -webkit-transform: matrix( 1.00768775493047,0,0,1.00761679100407,0,0);
  -ms-transform: matrix( 1.00768775493047,0,0,1.00761679100407,0,0);
    margin:0;
}
h5{
  font-size: 24.752px;
  font-family: 'Open Sans';
  color: rgb( 12, 75, 75 );
  text-transform: uppercase;
  text-align: left;
  -moz-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -webkit-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -ms-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  position: absolute;
  width: 854.967px;
  height: 17.186px;
  margin:0;
  left: -220px;
  top:60px;
}

.rect_info{
  background-color: rgb( 53, 191, 191 );
  position: absolute;
  width: 20px;
  height: 5px;
    margin-top: 15px;
}
.text-info{
  font-size: 20.627px;
  font-family: 'Open Sans';
  color: rgb( 142, 142, 142 );
  line-height: 1.733;
  text-align: left;
  -moz-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -webkit-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -ms-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  position: absolute;
  width: 784.359px;
  height: 86.381px;
  left: -200px;
  top:45px;
}
.club-info{
  position: absolute;
  left: 80px;
  top: 420px;
  width: 490px;
  height: 124px;
}
.coatelan-info{
position: absolute;
  left: 80px;
  top: 620px;
  width: 490px;
  height: 124px;
}
.cine-info{
  position: absolute;
  left: 580px;
  top: 620px;
  width: 490px;
  height: 124px;
}
.cafe-info{
  position: absolute;
  left: 840px;
  top: 620px;
  width: 250px;
  height: 124px;
}
.mjc-info{
  position: absolute;
  left: 580px;
  top: 760px;
  width: 490px;
  height: 124px;
}
.espace-info{
  position: absolute;
  left: 840px;
  top: 760px;
  width: 250px;
  height: 124px;
}
.tempo-info{
  position: absolute;
  left: 580px;
  top: 900px;
  width: 490px;
  height: 124px;
}
.manu-info{
  position: absolute;
  left: 840px;
  top: 900px;
  width: 250px;
  height: 124px;
}
.theatre-info{
  position: absolute;
  left: 580px;
  top: 1030px;
  width: 490px;
  height: 124px;
}
.bracelet-info{
position: absolute;
  left: 620px;
  top: 1540px;
  width: 490px;
  height: 124px;
}
.bracelet1{
  top:190px;
}
.bracelet2{
  top:180px;
}
.bracelet3{
  top:320px;
}
.bracelet4{
  top:310px;
}
.train-info{
  position: absolute;
  left: 80px;
  top: 2540px;
  width: 490px;
  height: 124px;
}
.covoi-info{
  position: absolute;
  left: 80px;
  top: 2740px;
  width: 490px;
  height: 124px;
}
.nav1-info{
  position: absolute;
  left: 610px;
  top: 2540px;
  width: 490px;
  height: 124px;
}
.nav2-info{
  position: absolute;
  left: 610px;
  top: 2780px;
  width: 490px;
  height: 124px;
}
.camp-info{
  position: absolute;
  left: 80px;
  top: 3370px;
  width: 490px;
  height: 124px;
}
.camp-red-info{
  position: absolute;
  left: 80px;
  top: 3650px;
  width: 490px;
  height: 124px;
}
.text-red-info{
  font-size: 20.627px;
  font-family: 'Open Sans';
  color: rgb( 171, 25, 25 );
  line-height: 1.733;
  text-align: left;
  -moz-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -webkit-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -ms-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  position: absolute;
  width: 784.359px;
  height: 86.381px;
  left: -200px;
  top:45px;
}
.autre-camp-info{
 position: absolute;
  left: 610px;
  top: 3370px;
  width: 490px;
  height: 124px;
}
.autre-camp1-info{
top:180px;
}
.autre-camp2-info{
    top:170px;
}
.heberg-info{
 position: absolute;
  left: 610px;
  top: 3660px;
  width: 490px;
  height: 124px;
}
.heberg1-info{
top:150px;
}
.heberg2-info{
top:140px;
}
.psh-info{
  position: absolute;
  left: 80px;
  top: 4460px;
  width: 490px;
  height: 124px;
}
.distri-info{
 position: absolute;
  left: 600px;
  top: 4460px;
  width: 490px;
  height: 124px;
}
.obj-info{
 position: absolute;
  left: 600px;
  top: 4610px;
  width: 490px;
  height: 124px;
}
.savoir1{
  top:20px;
}
.splashscreen{
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(/images/splashscreen.jpg) no-repeat;
  background-size: cover;
}
#vid{
    min-width: 100%;
    min-height: 100%;
}
.nav_range{
    position: absolute;
    top: 60%;
    left: 16%;
    width: 80%;
}
.nav-item-range{
    display: inline-block;
    width: 20%;
}
#info_range{
    width: 10px;
}
.title_splash{
    color: #ffffff;
    font-family: 'Kelson', sans-serif;
    text-align: center;
    visibility: hidden;
}
.nav-range-img{
    width: 30px;    
    margin-left: auto;
    margin-right: auto;
    display: block;    
}
.logo-long{
    position: absolute;
    top: 12%;
    left: 28%;
    width: 47%;
}
.logo-long img{
    width: 100%;
}
.logo-court{
    position: absolute;
    top: 80%;
    left: 48%;
    width: 4%;
}
.logo-court img{
    width: 100%;
 }   
.container_splash{
    width:100%;
    height: 100%;
}
.loader{
    position: absolute;
    top: 61%;
    left: 45%;
}
/* LOADER */
#circularG{
position:relative;
width:128px;
height:128px}

.circularG{
position:absolute;
background-color:#009da1;
width:29px;
height:29px;
-moz-border-radius:19px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:19px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:19px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:19px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:19px;
animation-name:bounce_circularG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:50px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#circularG_2{
left:14px;
top:14px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#circularG_3{
top:0;
left:50px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#circularG_4{
right:14px;
top:14px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#circularG_5{
right:0;
top:50px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#circularG_6{
right:14px;
bottom:14px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#circularG_7{
left:50px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#circularG_8{
left:14px;
bottom:14px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

/*Reponsive*/
@media screen and (max-width: 1320px) {
  .art_name{
    font-size: 40px;
    bottom: 45px
  }
  .description{
    font-size: 10px;
  }
  .art_main{
    right: 45px;
    width: 30%;
  }
  .social{
    font-size: 20px;
  }
  .art_day{
    font-size: 15px;
  }
  .art_style{
    font-size: 12px
  }
  .art_social{
    position: relative;
    right:36px;
    margin-top:90px; 
  }
}
@media screen and (max-width: 1150px) {
    .pass1, .pass1c{
    width: 30%;
    display: block;
    margin-left: 8%;
    margin-bottom: 10%;
    }
    .third{
    margin-left: 25%;
    }
    .tickets{
    overflow: scroll;
    }
}
@media screen and (max-width: 1024px){
    .pass1{
        width: 40%;
        margin-left: 15%;
    }
    .contains{
        overflow: scroll;
    }

}