*, :before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

@font-face {
    font-family: 'socicon';
    src: url('fonts/socicon-webfont.eot');
    src: url('fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon-webfont.woff') format('woff'),
         url('fonts/socicon-webfont.ttf') format('truetype'),
         url('fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

@font-face {
    font-family: 'Farray';
    src: url('fonts/farray.otf');
}
@font-face {
    font-family: 'PT Mono';
    src: url('fonts/ptmono.ttf');
}
@font-face {
    font-family: 'PT Mono Bold';
    src: url('fonts/ptmonob.ttf');
}
@font-face {
    font-family: 'Kelson';
    src : url('fonts/kelson-sans.otf');
}
a{
    text-decoration: none;
    color: inherit;
}



body{
    margin: 0;
    background-color: #000000;

}


p, label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.hidden{
    display: none !important;
}
.nav {
    background-color: #141414;
    position: fixed;
    width: 60px;
    height: 100%;
    text-align: center;
    z-index: 3;
    left:0;
    top:0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
    -moz-transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
    -o-transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
    transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
}
.nav-logo {
    display: block;
    margin: auto;
    margin-top: 15px;
}
.nav-items {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.pic-prog{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:14px;
    color:#35BFBF;
}
.pic-prog:hover{
    opacity:0.5;
}
.nav-item {
    position: relative;
    overflow: hidden;
}
.last{
    border: none !important;
}
.nav-item-main {
    -webkit-transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    -moz-transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    -o-transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    background-color: #191719;
    z-index: 2;
}
.nav-iconContainer {
    display: block;
    position: relative;
    width: 60px;
    height: 45px;
    border-bottom: 1px;
}
.nav-iconContainer:hover{
    background-color: #424141;
   
}
.nav-iconContainer img{
    width:25px;
    margin-top: 15px;
}
#medley{
    margin-top: 10px;
}
#info{
    width:auto;
}


.day:checked + .label1   {
     font-weight: 700;
}

.cmp:checked + .label1 {
     font-weight: 700;
}

.day_art:checked + .label2 {
     font-weight: 700;
}

.sal_art:checked + .label2 {
     font-weight: 700;
}


/* Button effects*/
label {
    cursor: pointer;
}
input[type=radio],
input[type=checkbox] {
    display: none;
}
.label1:before {
    content: "";
    margin-top: 3px;
    width: 12px;
    height: 12px;
    margin-left: 140px;
    position: absolute;
    background-color: #35BFBF;
}

.input label:before {
    border-radius: 8px;
}
.input2 label {
    margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label:before {
    content: "";
    color: #35BFBF;
    font-size: 28px;
    text-align: center;
    line-height: 10px;
    margin-left: 140px;
    margin-top: 3px;
    background-color:#35BFBF;
}

input[type=checkbox]:checked + label:before {
    content: "";
    font-size: 12px;
    color: #f3f3f3;
    text-align: center;
    line-height: 12px;
    background-color:#35BFBF;
}

/*End button*/


.sub_menu{
    background-color: #e6e6e6;
    width: 200px;
    height: 100%;
    position: absolute;
    top:0;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none !important;
}
.sub_menu::-webkit-scrollbar { width: 0 !important }

.head{
    height:175px;
    background-color: #ffffff;
    width:100%;
    position: absolute;
    text-align: center;
}
.title{
    margin-left: auto;
    margin-right: auto;
}
h2, h3{
    font-family: 'Farray', sans-serif;
	color:#696969;
}

.timeline_container{
    padding: 10px;
    padding-top:30px;
    background-color: #ffffff;
    width:850px;
    height:300px;
}
.all_content_pano{
    margin-top:5%;
    margin-left:5%;
    margin-right:10%;
    width:100%;
}

.splash-fb{
    position :absolute;
    top:83%;
    left:80%;
}

.socicon:hover{
    opacity:1;
}

.socicon{
    color:white;
    font-size:30px;
    opacity:0.8;
}

.generate_pano_container{
    margin-top: -3px;
    padding: 10px;
    background-color: #ffffff;
    width:850px;
    height:170px;
}

.timeline_artists_container{
    display: table;
    margin: 0 auto;
}

.art_pano_container{
    float: left;
    width: 198px;
    height: 100px;
    display: inline-block;
}

.button_medley{
    position:relative;
    margin-top:50px;
    margin-left:320px;
}


.odd{
    margin-top:15px;
}

.even{
    margin-top:175px;
}

.art_heure_pano{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color:#9C9C9C;
    text-align: center;
    font-weight:700;
}

.art_name_pano{
    position: relative;
    margin-top:5px;
    font-family: 'Farray', sans-serif;
    color:#000000;
    text-align: center;
}



#ajouter-pano{
    display: none;
}

@media screen and (min-width: 768px){
    #ajouter-pano{
        display: block;
    }
}

.art_salle_pano{
    position: relative;
    margin-top:7px;
    font-family: 'PT Mono', sans-serif;
    font-size: 12px;
    font-weight:500;
    color: #000000;
    text-align: center; 
}



hr{
    width: 25px;
    border:1px solid black;
    margin-left: 25px;
}

.line_container{
    position: absolute;
    width:780px;
    height:3px;
}

.start_timeline{
    position:absolute;
    left:24px;
    top:320px;
}
.end_timeline{
    position:absolute;
    left:810px;
    top:320px;
}
.logo_timeline{
    position: absolute;
    left:810px;
    top:398px;
}
.blue_line{
    position: absolute;
    margin-top:126px;
    width:100%; 
    height:3px;
    background-color: #35bfbf;
    border-style:none;
}
.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
    margin:0px 25px;
}
.arrow{
    position: absolute;
    top:175px;
    width: 30px;
    margin-left: 85px;
}

.arrow_pano{
    position: absolute;
    top:175px;
    width: 30px;
    margin-left: 140px;
}

.content{
    position: absolute;
    left: 60px;
    right:0;
    height: 100%;
    overflow: hidden;
}
.inputs{
    position: absolute;
    top: 300px;
    float: left;
    width: auto;
    display: inline;
}
.inputs_j1j2j3{
    position: absolute;
    top: 180px;
    float: left;
    width: auto;
    display: inline;
}

.inputs_pano_art{
    position: absolute;
    top: 330px;
    float: left;
    width: auto;
    display: inline;  
}
.input, .input2{
    margin-left: 20px;
    padding-top: 10px;
}
.input_container{
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.input_container2{
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.input_container:hover{
    background-color: #f3f3f3;
}

.day, #c1{
    margin-left: 60px;
    cursor: pointer;
}
.label1{
    padding-top: 10px;
    cursor: pointer;
}
.active{
    background-color: #ffffff;
}
.active:hover{
    background-color: #ffffff;
}
.active:after{
    background-color: #ffffff;
}
#camp{
    margin-top: 90px;
}
#c1{
    margin-left: 76px;
    cursor:pointer;
}
.tickets{
    position: absolute;
    left: 200px;
    background-image: url(images/bg-billet.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.pano_content{
    position: absolute;
    left: 200px;
    background-color:#fff;
    /*background-image: url(images/bg-pano.jpg);*/
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.widget{
    margin-bottom: 40%;
    margin-top: 10%;
    background-color: #ffffff;
    padding: 0px;
    text-align: center;
    margin-left: 2%;
    display:inline-block;
    vertical-align: top;
}
.pass1{
    width: 20%;
}
.first{
    margin-left: 10%;
}
.head_wg{
    background-color: #e6e6e6;
    padding: 7px;
}
.widget .list_bte{
    font-family: 'PT Mono', sans-serif;
    font-size: 12px;
    padding:0px 20px;
    font-weight: 100;
    color: #363636; 
}

.list{
     background: #000000;
}


.arrow_grey{
    margin-bottom: 20px;
}
.price{
    font-family: 'PT Mono Bold';
    padding-top: 20px;
    font-size: 20px
}
.book{
    margin-top: 50px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #35bfbf; 
}

.generer{
    margin-left: 46%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #35bfbf; 
}

/* 1er effet */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-8px);
}

/* 2eme effet */
.button,.button-hover {
    padding: 0px 10px;
    border: 2px solid #35bfbf;
    position: relative;
    overflow: hidden;
    margin: 0 1em 1em 0;
    height: 2.0em;
    font: 600 1.0em/2.0em 'Open Sans', sans-serif;
    border-radius: 2px;
    -moz-transition: 0.35s ease all;
    -o-transition: 0.35s ease all;
    -webkit-transition: 0.35s ease all;
    transition: 0.35s ease all;
}

.button-reset {
    padding: 0px 10px;
    border: 2px solid #ff9999;
    position: relative;
    overflow: hidden;
    margin: 0 1em 1em 0;
    height: 2.0em;
    font: 600 1.0em/2.0em 'Open Sans', sans-serif;
    border-radius: 2px;
    -moz-transition: 0.35s ease all;
    -o-transition: 0.35s ease all;
    -webkit-transition: 0.35s ease all;
    transition: 0.35s ease all;
}


.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #35bfbf;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus{
  color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before{
  -webkit-transform: scaleX(1.01);
  transform: scaleX(1.01);
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right-reset:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9999;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right-reset:hover, .hvr-sweep-to-right-reset:focus{
  color: white;
}

.hvr-sweep-to-right-reset:hover:before, .hvr-sweep-to-right-reset:focus:before{
  -webkit-transform: scaleX(1.01);
  transform: scaleX(1.01);
}

.bottom_btn{
    float: right;
    height: 50px;
}

.open_sans{
    font-family: 'Open Sans', sans-serif;
    color: #a8a8a8;
}
.explication_pano{
    width:285px;
    margin-top:-15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color:#35BFBF;
    font-size: 11px;
}
.link-pano{
    margin-top:10px;
}
#disabled{
    color:#a8a8a8;
    border: 2px solid #a8a8a8;
    cursor: default;
}
.pass2{
    width: 40%;
}
.only{
    margin-left: 23%;
}
.pass1c{
    width: 25%;
}
.first2{
    margin-left: 15%;
}
#mation{
    text-align: left;
    margin-left: 33px;
    position: relative;
    bottom: 20px;
}
.inputs_art{
    position: absolute;
    top:225px;
    margin-left: 10px;
}


.input_h{
    position: absolute;
    top:570px;
    margin-left: 10px;
}

.input_showprog{
    position: absolute;
    top:700px;
    width:100%;
    margin-left:0;
}


.inputs_sal{
    position: absolute;
    top:400px;
    margin-left: 10px;
}

.title_art{
    color:#000000;
    font-size: 25px;
    margin-left: 12px;
    margin-bottom: 10px; 
}

/*.title_art:hover{
    background-color: #e6e6e6;
}*/

.input_container_art{
    width: 200px;
    height: 22px;
    font-size: 14px;
}

.input_container_art_check{
    width: 200px;
    height: 22px;
    font-size: 14px;
}

.input_container_art label:before {
    border-radius: 5px;
}
.input_container_art_check label:before {
    border-radius: 2px;
}
.label2 , .label3{
    font-weight: thin;
    width:100px;
}


.label_verouille{
    font-weight: thin;
    width:100px;
}

.strong-label3{
    font-weight:700;
}

.label2:before {
    content: "";
    margin-top: 4px;
    width: 10px;
    height: 10px;
    margin-left: 150px;
    margin-top: 3px;
    width: 12px;
    height: 12px;
    margin-left: 140px;
    position: absolute;
    background-color:  #e6e6e6;
    border-color: #35BFBF;
    border-style: solid;
    border-width: 2px;
}

.label3:before {
    content: "";
    margin-top: 4px;
    width: 10px;
    height: 10px;
    margin-left: 150px;
    margin-top: 3px;
    width: 12px;
    height: 12px;
    margin-left: 140px;
    position: absolute;
    background-color:#FFF;
    border-color: #35BFBF;
    border-style: solid;
    border-width: 2px;
}




.label_verouille:before {
    content: "";
    margin-top: 4px;
    width: 10px;
    height: 10px;
    margin-left: 150px;
    margin-top: 3px;
    width: 12px;
    height: 12px;
    margin-left: 140px;
    position: absolute;
    background-color:  #ff9999;
    border-color: #ff9999;
    border-style: solid;
    border-width: 2px;
}

.input_art{
    margin-left: 10px;
    padding-top: 2px;
}
.art_content{
    position: absolute;
    background-image: url(images/splashscreen.jpg);
    background-size: cover;
    left: 200px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.art_content::-webkit-scrollbar { width: 0 !important }

.inputs_art2{
    position: absolute;
    top:400px;
    margin-left: 10px;
}
.slider{
    margin-top: 10px;
    margin-left: 10px;
    width:150px;

}
 .row1 {
    cursor:pointer;
    width:100%;
    height:200px;
    position:relative;
    overflow:hidden;
  }

 .row2 {
    cursor:pointer;
    width:100%;
    height:200px;
    position:relative;
    overflow:hidden;
  }
  
  .row__img__wrapper {
    position:absolute;
    width:100%;
    max-width: 1550px;
    height:100%;
    top:0;
    overflow:hidden;
    left:0;
    
    &.row__img__wrapper--nb {
      z-index:1;
      -webkit-filter: grayscale(100%); 
      filter: grayscale(100%);
    }
    
    &.row__img__wrapper--color {
      z-index:10;
    }
  }
  .row__img__wrapper--color{
    z-index: 900;
  }
    
  .row__img {
    position:absolute;
    width:100%;
    max-width: 1550px;
    height:100%;
    top:0;
    left:0;
    background-size:cover;
  }
  .container_img{
    width: 100%;
    height: 100%;
    background-size:cover;
  }

  .art_name{
    z-index: 1000;
    position: absolute;
    left:0;
    right: 0;
    font-size: 55px;
    text-align: center;
    font-family: 'Farray';
    color: #ffffff;
    bottom:25px;
  }
  .dropdown{
    display: inline-block;
  }
  .row_art{
    max-height: 400px;
    max-width: 1550px;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 2000;
    color:#6f6f6f;
  }
  .time{
    padding: 5px 15px;
    border: 2px solid #35bfbf;
    width: 83px;
    font-weight: bold;
    display: inline-block;
  }
  .art_name_main{
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    color: #35bfbf;
  }

  .time-hover{
    margin-left:25%;
    margin-right:25%;
    width:50%;
  }

  .art_vid{
    width: 35%;
    height: 95%;
    display: inline-block;
  }
  .art_main{
    width: 35%;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    bottom: 30px;
  }
  .art_social{
    width: 15%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    margin-top: 50px;
  }
  .art_day{
    padding-top: 6px;
    color: #000000;
    font-size: 18px;
    font-family: 'PT MONO BOLD', sans-serif;
  }
  .repeat{
    height: auto;
  }
  .art_style{
    position: relative;
    bottom: 15px;
    font-family: 'PT MONO',sans-serif;
    color: #000000;
  }
  .description{
    font-size: 13px;
    position: relative;
    bottom: 10px;
  }
  .signature{
    margin-left: 25%;
    position: relative;
    margin-top: 13%;
  }
  .sign_name{
    color: rgb( 53, 191, 191 );
  }
  @media screen and (max-width: 1186px){
    .add_pano{
        display:none
    }
}
  .add_pano{
    font-family: 'Open Sans',sans-serif;
  }

  .add_img{
    width: 15px;
  }
  .socicon{
    font-family: 'socicon';
  }
  .social{
    font-size: 35px;
    color:#959595;
    display: block;
    margin-bottom: 15px;
  }
  .leave{
    width: 35px;
    margin-top: 145px;
    cursor: pointer;
  }
  .icon_timeline{
    display: block;
    position: relative;
  }
  .odd .icon_timeline{
    z-index:10;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    top:19px;
    margin-left: 95px;
  }
  .even .icon_timeline{
    z-index:10;
    margin-left: 94px;
    bottom: 116px;
  }
    .artiste{
        min-height: 0px;
    }
.info_content{
    top: 0;
    margin-left:200px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x:hidden; 
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.info_content::-webkit-scrollbar { width: 0 !important }
.info_line{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #a8a8a8;
}
.title-line{
    background-color:#e6e6e6;
    position: absolute;
    width: 100%;
    margin-top: 5px;
}
.info_title{
    margin-left: 80px;
}
.arrow_grey1{
    position: absolute;
    margin-top: 60px;
    margin-left: 70px;

}
.infos{
    position: absolute;
    top:225px;
}
.show-sncf{
    position: absolute;
    top:500px;
}
.img-acces{
    background-attachment: inherit;
    background-image: url(images/acce.png);
       background-size:100%;
    width: 100%;
background-repeat:round;
    height: 1090px;
    margin-top: 74px;
}
.marge{
    margin-left:-10px;
}
.img-entree{
    background-attachment: inherit;
    background-image: url(images/entree.png);
       background-size:100%;
    width: 100%;
 background-repeat:round;
    height: 980px;
}
.img-trsp{
    background-attachment: inherit;
    background-image: url(images/trsp.png);
       background-size:100%;
    width: 100%;
background-repeat:round;
    height: 856px;
}
.img-camping{
    background-attachment: inherit;
    background-image: url(images/camping.png);
       background-size:100%;
    width: 100%;
    background-repeat:round;
    height: 1084px;
}
.img-savoir{
    background-attachment:inherit;
    background-image: url(images/savoir.png);
    background-size:100%;
    width: 100%;
   background-repeat:round;
    height: 735px;
}
.map-acces{
margin-bottom: 40px;
}
.sub_info{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 11;
}
.sub_info_1{
    position:fixed;
    width: 100%;
    top:0;
    z-index:10;
}
.sub_info_2{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 9;
}
.sub_info_3{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 8;
}
.sub_info_4{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 7;
}
.sub_info_5{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 6;
}
.sub_info_6{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 5;
}
.sub_info_7{
    position:fixed;
    width: 100%;
    top:0;
    z-index: 4;
}
.sub_info_8{
    position:fixed;
    width: 100%;
    top:0;
    height:auto;
    z-index: 3;
}
.toHide{
    position: absolute;
    width: 100%;
    height:8000px;
    background-color: #000000;
    opacity: 0;
    z-index: 700;
    display: none;
}
.hr_billet{
    margin-left: 16px;
}
.artiste_list{
    margin-top: 0px;
}
.jour_pano{
    position:absolute;
    margin-top:-20px;
    margin-left:260px;
    font-family:'Kelson';
    font-weight:500;

}
.url_pano{
    margin-top:20px;
    color:#35BFBF;
    margin-left:31%;
    font-family:'Kelson';
    font-weight:300;
}

.entree{
    overflow: hidden;
 }

.pano{
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.pano::-webkit-scrollbar { width: 0 !important }

.player{
    height: 400px;
}
.play_button{
    position: relative;
    bottom:156px;
    right:21%;
    cursor: pointer;
}
.marged{
    margin-left: 60px;
}
h4{
  font-size: 21.323px;
  color: rgb( 53, 191, 191 );
  text-transform: uppercase;
    font-family:'Kelson';
  -moz-transform: matrix( 1.00768775493047,0,0,1.00761679100407,0,0);
  -webkit-transform: matrix( 1.00768775493047,0,0,1.00761679100407,0,0);
  -ms-transform: matrix( 1.00768775493047,0,0,1.00761679100407,0,0);
    margin:0;
}
h5{
  font-size: 24.752px;
  font-family: 'Open Sans';
  color: rgb( 12, 75, 75 );
  text-transform: uppercase;
  text-align: left;
  -moz-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -webkit-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -ms-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  position: absolute;
  width: 854.967px;
  height: 17.186px;
  margin:0;
  left: -220px;
  top:60px;
}

.rect_info{
  background-color: rgb( 53, 191, 191 );
  position: absolute;
  width: 20px;
  height: 5px;
    margin-top: 15px;
}
.text-info{
  font-size: 24px;
  font-family: 'Open Sans';
  color: rgb( 142, 142, 142 );
  line-height: 1.733;
  text-align: left;
  -moz-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -webkit-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -ms-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  position: absolute;
  width: 784.359px;
  height: 86.381px;
  left: -200px;
  top:45px;
}
.bracelet1{
  top:190px;
}
.bracelet2{
  top:180px;
}
.bracelet3{
  top:320px;
}
.bracelet4{
  top:310px;
}
.text-red-info{
  font-size: 20.627px;
  font-family: 'Open Sans';
  color: rgb( 171, 25, 25 );
  line-height: 1.733;
  text-align: left;
  -moz-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -webkit-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -ms-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  position: absolute;
  width: 784.359px;
  height: 86.381px;
  left: -200px;
  top:45px;
}
.text-red-info-bis{
  font-size: 24.627px;
  font-family: 'Open Sans';
  color: rgb( 171, 25, 25 );
  line-height: 1.733;
  text-align: left;
  -moz-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -webkit-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -ms-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  position: absolute;
  width: 784.359px;
  height: 86.381px;
  left: -200px;
  top:125px;
}
.autre-camp1-info{
top:190px;
}
.autre-camp2-info{
    top:170px;
}

.savoir1{
  top:20px;
}
.splashscreen{
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: 1000;
  background: url(images/bg-intro-mobile.jpg) no-repeat;
  background-size: cover;
}
#vid{
    min-width: 100%;
    min-height: 100%;
}

.splashvideo{
    display: none;
}

@media screen and (min-width: 768px){
    .splashvideo{
        display: block;
    }
}

.nav_range{
    position: absolute;
    top: 48%;
    left: 19%;
    width: 80%;
}
.nav-item-range{
    display: inline-block;
    width: 20%;
}
#info_range{
    width: 10px;
}
.title_splash{
    color: #ffffff;
    font-family: 'Kelson', sans-serif;
    text-align: center;
    opacity: 0;
}
.nav-range-img{
    width: 30px;    
    margin-left: auto;
    margin-right: auto;
    display: block;    
}
.logo-long{
    position: absolute;
    top: 12%;
    left: 28%;
    width: 47%;
}
.logo-long img{
    width: 100%;
}
.logo-court{
    position: absolute;
    top: 80%;
    left: 48%;
    width: 4%;
}
.logo-court img{
    width: 100%;
    min-width: 30px;
 }   
.container_splash{
    width:100%;
    height: 100%;
}
.loader{
    position: absolute;
    top: 55%;
    left: 48%;
}
/* LOADER */
.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px; }
.sk-spinner-wave div {
  background-color: #ffffff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
          animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }


.details_art{
    background:transparent;
    z-index: 10000;
}
}
/*Reponsive*/

@media screen and (max-width: 768px) {
.socicon{
    color:white;
    font-size:20px;
    opacity:0.8;
}
.input_showprog{
    position: absolute;
    top:525px;
    width:100%;
    margin-left:0;
}
    }

@media screen and (max-width: 1320px) {
  .art_name{
    font-size: 40px;
    bottom: 45px
  }
  .description{
    font-size: 10px;
  }
  .art_main{
    right: 45px;
    width: 30%;
  }
  .social{
    font-size: 20px;
  }
  .art_day{
    font-size: 15px;
  }
  .art_style{
    font-size: 12px
  }
  .art_social{
    position: relative;
    right:36px;
    margin-top:90px; 
  }
}
@media screen and (max-width: 1150px) {
    .pass1, .pass1c{
    width: 30%;
    display: block;
    margin-left: 8%;
    margin-bottom: 10%;
    }
    .third{
    margin-left: 25%;
    }
    .tickets{
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.tickets::-webkit-scrollbar { width: 0 !important }
}
@media screen and (max-width: 1024px){
    .pass1, .pass1c, .pass2{
        width: 40%;
        margin-left: 15%;
    }
    .contains{
        overflow: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }
    .contains::-webkit-scrollbar { width: 0 !important }
    .info_content{
        overflow-x:scroll;
    }
}

* {
   padding: 0;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.inside-info:after {
    clear: both;
}

.inside-info > div {
    min-height: 200px;
    float: left;
    width: 40%;
}
@media all and (max-width: 500px) {
    .container > div {
        float: none;
        width: 100%;
    }
}
.tab{
 position: absolute;
  top: 2740px;
  width: 420px;
  height: 124px;
    margin-left: 70px;
}

.img-acces-bis{
background-color: rgb(255,255,255);
}
.club-info-bis{
  position: relative;
height: 240px;
top: 40px;
}
.coatelan-info-bis{
position: relative;
height: 235px;
}
.cine-info-bis{
position: relative;
  height: 184px;
}
.cafe-info-bis{
  position: relative;
height: 374px;
}
.mjc-info-bis{
position: relative;
height: 140px;
}
.espace-info-bis{
  position: relative;
  height: 124px;
        display: inline-block;
}
.tempo-info-bis{
 position: relative;
height: 124px;
margin-top: 30px;
}
.coz-info-bis{
position: relative;
height: 124px;
margin-top: 30px;
}
.manu-info-bis{
 position: relative;
height: 250px;
}
.ban-acces{
    position: relative;
    overflow: hidden;
}
.img-entree-bis{
background-color: rgb(255,255,255);
}
.ban-entree{
position: relative;
overflow: hidden;
}
.graph-entree{
position: relative;
        width: 40%;
    display: inline-block;
    margin-left: 70px;
}
.bracelet-info-bis{
position: relative;
    width: 40%;
    display: inline-block;
	bottom: 480px;
}
.img-trsp-bis{
background-color: rgb(243,243,243);
}
.ban-trsp{
position: relative;
overflow: hidden;
}
.trsp1{
    position: relative;
    width: 40%;
    display: inline-block;
    margin-left: 70px;
    bottom: 344px;
}
.trsp2{
    position: relative;
        width: 40%;
    display: inline-block;
    top: 25px;
  height: 570px;

}
.train-info-bis{
position: relative;
      height: 250px;
}
.covoi-info-bis{
position: relative;
      height: 164px;
}
.nav1-info-bis{
    position: relative;
      height: 224px;
}
.tab-bis{
    position: relative;
      height: 120px;
      width: 85%;
}
.nav2-info-bis{
    position: relative;
      height: 144px;
bottom: 80px;
}
.img-camping-bis{
background-color: rgb(255,255,255);
}
.ban-camping{
position: relative;
overflow: hidden;
}
.camping1{
    position: relative;
        width: 40%;
    display: inline-block;
    margin-left: 70px;
    bottom:270px;
}
.camping2{
    position: relative;
        width: 40%;
    display: inline-block;
    top:30px;
}
.camp-info-bis{
position: relative;
      height: 340px;
}
.camp-red-info-bis{
position: relative;
      height: 98px;
}
.autre-camp-info-bis{
  position: relative;
      height: 300px;
}
.heberg-info-bis{
position: relative;
      height: 214px;
}
.img-savoir-bis{
background-color: rgb(243,243,243);
}
.ban-savoir{
position: relative;
overflow: hidden;
}
.savoir3{
    position: relative;
        width: 40%;
    display: inline-block;
    margin-left: 70px;
}
.savoir2{
    position: relative;
        width: 40%;
    display: inline-block;
    top:30px;
}
.a21-1{ position: relative;
        width: 40%;
    display: inline-block;
    margin-left: 70px;
height: 1180Px;}
.a21-2{
      width: 40%;
    display: inline-block;
    margin-bottom:415px;
}
.acces1{ position: relative;
        width: 40%;
    display: inline-block;
    margin-left: 70px;
height: 1100px;}
.acces2{
      width: 40%;
display: inline-block;
margin-top:40px;
position: absolute;
}
.psh-info-bis{
    position: relative;
      height: 344px;
}
.transport{
 position: relative;
    height: 140px;
}
.tag{
 position: relative;
    height: 210px;
}
.vol{
    position: relative;
    height: 140px;
}
.mineurs{
    position: relative;
    height: 190px;
}
.distri-info-bis{
    position: relative;
      height: 154px;
}
.obj-info-bis{
    position: relative;
      height: 214px;
}
@media screen and (max-width: 1130px) {
.cine-info-bis{
  position: relative;
  height: 124px;
        display: block;
        margin-bottom: 20px;
}
.cafe-info-bis{
  position: relative;
  height: 324px;
        display: block;
        margin-bottom: 30px;
}
.mjc-info-bis{
  position: relative;
  height: 140px;
        display: block;
        margin-bottom: 20px;
}
.espace-info-bis{
  position: relative;
  height: 124px;
        display: block;
        margin-bottom: 20px;
}
.tempo-info-bis{
  position: relative;
  height: 124px;
        display: block;
        margin-bottom: 20px;
}
.coz-info-bis{
  position: relative;
  height: 124px;
        display: block;
}
.manu-info-bis{
  position: relative;
  height: 224px;
    display: block;
    margin-top: 0px;
}
.theatre-info-bis{
  position: relative;
  height: 124px;
        display: block;
}
    .graph-entree{
position: relative;
        width: 40%;
    display: block;
        margin-left: 70px;
        height: 550px;
}
.bracelet-info-bis{
position: relative;
    width: 40%;
    display: block;
    margin-left: 70px;
    height: 470px;
    top:1px;
}
    .trsp1{
    position: relative;
        width: 40%;
          height: 415px;
    display: block;
    margin-left: 70px;
    top:30px;
}
    .trsp2{
    position: relative;
        width: 40%;
    display: block;
            margin-left: 70px;
}
        .camping1{
    position: relative;
        width: 40%;
    display: block;
    margin-left: 70px;
    top:30px;
}
    .camping2{
    position: relative;
        width: 40%;
    display: block;
            margin-left: 70px;
        margin-top:270px;
        height: 650px;
}
    .savoir3{
    position: relative;
        width: 40%;
    display: block;
    margin-left: 70px;
    top:30px;
}
    .a21-2{
    position: relative;
        width: 40%;
    display: block;
            margin-left: 70px;
        margin-top:30px;
     height: 900px;
	margin-bottom:0px;
}
        .acces1{
    position: relative;
        width: 40%;
    display: block;
    margin-left: 70px;
    top:30px;
}
        .acces2{
    position: relative;
        width: 40%;
    display: block;
            margin-left: 70px;
        margin-top:30px;
     height: 600px;
	margin-bottom:0px;
}
        .a21-1{
    position: relative;
        width: 40%;
    display: block;
    margin-left: 70px;
    top:30px;
}
    .savoir2{
    position: relative;
        width: 40%;
    display: block;
            margin-left: 70px;
        margin-top:30px;
        height: 670px;
}
    .map-acces{
    display: none;
    }
       .tab-bis{
    position: relative;
      height: 100px;
      width: 125%;
}
}
    .acces1{
    position: relative;
    height: 1100px;
    }
.accredi1{
margin-top: 10px;
    width: 50%;
    margin-left: 70px;
}
.accredi2{
margin-top: 30px;
    width: 50%;
    margin-bottom: 30px;
       margin-left: 70px;
}
.ban-info{
width: 100%;
}
.dev-durable{
  position: relative;
    height: 250px;
}
.conseils{
 position: relative;
    height: 900px;
}
.tri{
    position: relative;
    height: 720px;
}
@media screen and (max-width: 768px) {
    .contains{
        overflow-x: visible;
        overflow: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }
    .contains::-webkit-scrollbar { width: 0 !important }   
     .contains{
        overflow-y: scroll;
    }

    .sub_menu{
        width: 90%;
        min-height: 0px;
        left:0;
    }
    .content{
        overflow-x: scroll;
        left: 60px;
        -webkit-overflow-scrolling:touch;
    }
    .contains{
        left: 90%;
    }
    .sub_menu h2{
        display: inline;
    }
    .sub_menu hr{
        margin-left: auto;
    }
    .sub_menu .subtitle{
        text-align: center;
    }
    .sub_menu .arrow{
        left:48%;
        margin: 0;
        top:130px;
    }
    #mation{
        margin:0;
        bottom: 0px;
        right: 4px;
    }
    .inputs, .inputs_art{
        width: 100%;
        top:130px;
        margin-left: 0;
    }
    .inputs{
        width: 100%;
        top:170px;
        margin-left: 0;
    }
    .input_container, .infos{
        width: 100%;
    }
    .billeterie .input{
        top:200px;
    }
    .sub_menu .title_art{
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 52px;
    }
    .sub_menu .input_container_art {
        width: 100%;
        height: 30px;    
    }
    .sub_menu .head{
          padding-top: 20px;
          height: 130px;
    }

     .sub_menu .input_art{
        padding-top:4px;
        font-size: 16px;
        margin-left: 15%;
     }
    .sub_menu input[type=radio]:checked + label:before{
        margin-left: 65%;
        margin-top: 5px;
     }
    .sub_menu .label2:before{
        margin-left: 65%;
        margin-top: 5px;
     }
    .inputs_sal{
        display: none;
    }
    .input_h{
        top:370px;
        width: 100%;
        margin-left: 0;
    }
    .input_h .title_art{
       width: 110px;
    }
    .slider{
        margin-left: auto;
        margin-right: auto;
    }
    .row1{
        height: 100px;
    }
/*    .row__img{
        background-position-x:-100px;
    }*/
    .art_name{
        width: 345px !important;
        bottom: 35px;
        font-size: 15px;
    }
    .art_vid{
        display: none;
    }
    .art_main{
        width: 100%;
        right: 0;
        padding: 10px;
        bottom: 100px;
        background-color: #fff;
    }
    .row_art{
        height: auto;
    }
    .play_button{
        visibility: hidden;
    }
    .nav{
        position: absolute;
    }
    .pass1, .pass1c, .pass2{
       width: 90%;
       margin-left: 5%;
    }
    .info_content{
        margin: 0;
        width: 100%;
    }
    .nav_last{
        display: none;
    }
    #mdl{
        display: none;
    }
    .nav_range{
        left:28%;
    }
    .infos{
        margin-left: 0px;
    }
    .info_content{
    width:100%;
    }
    .acces{
    width:123%;}
    .entree{
    width:123%;}
    .camping{
    width:123%;}
    .trsp{
    width:123%;}
    .savoir{
    width:123%;}
    .accredi{
    width:123%;}
    .a21{
    width:123%;}
    .bene{
    width:123%;}
    .parte{
    width:123%;}
    .tab-bis{
    position: relative;
      height: 100px;
      width: 160%;
}
    .accredi1{
margin-top: 10px;
    width: 70%;
    margin-left: 2px;
}
.accredi2{
margin-top: 30px;
    width: 70%;
    margin-bottom: 30px;
       margin-left: 2px;
}
    .ban-info{
    width: auto;
        height: auto;
    }
    .sub_info{
    display: none;
    }
    .sub_info_1{
    display: none;
    }
    .sub_info_2{
    display: none;
    }
    .sub_info_3{
    display: none;
    }
    .sub_info_4{
    display: none;
    }
    .sub_info_5{
    display: none;
    }
    .sub_info_6{
    display: none;
    }
    .sub_info_8{
    display: none;
    }
    .rect_info{
    margin-top: 5px;
    }
    .inside-info-bis > div {
    margin-left:2px;
    }
    .club-info-bis{
    margin-left:2px;
    }
    .coatelan-info-bis{
    margin-left:2px;
    }
    .ban-info{
    width: 100%
    } 
    .title-line{
        display: none;
    }
    .arrow_grey{
        display: none;
    }
    .content_inf .arrow_grey{
        display: none;
    }
    .splash-fb{
        top:92%;
        left: 43%;
    }
    .splash-fb .socicon{
        font-size: 22px;
    }
}
@media screen and (max-width: 480px) {
    .artiste .head{
        padding-top:10px;
    }
    .splash-fb{
        top:92%;
        left: 40%;
    }
}
@media screen and (min-width: 768px) {
    .artiste h2{
        margin-left: -20px;
    }
    #mation{
        margin-left: 24px;
    }
    .artiste hr{
        margin-top: -20px;
    }
    .title-h2{
        margin-left:-68px;
    }
}
.acces1{
position: relative;
height: 1100px;
}
.img-accredi-bis{
    background-color: rgb(243,243,243);
height: auto;
}
.img-bene-bis{
    background-color: rgb(243,243,243);
height: 300px;
}
.img-21-bis{
background-color: rgb(243,243,243);
}
.img-parte-bis{
    background-color: white;
height: auto;
}
.bene-info-bis{
position:relative;
height: 220px;
margin-left: 70px;
top: 100px;}
.parte-info-bis{
position:relative;
height: 180px;
margin-left: 70px;
top:110px;
}


@media screen and (max-width:500px){
.info_content > div {
width: 155%;
}
}
@media screen and (max-width:400px){
.info_content > div {
width: 165%;
}
}
@media screen and (max-width:300px){
.info_content > div {
width: 255%;
}
}
@media screen and (max-width:200px){
.info_content > div {
width: 315%;
}
}
.rectangle_32 {
  border-width: 2px;
  border-color: rgb( 213, 13, 13 );
 border-style: solid;
position: absolute;
left: 100px;
top: 200px;
width: 143px;
height: 28px;
}
.text-rect-red {
  font-size: 20px;
  font-family: "Open Sans";
  color: rgb( 171, 25, 25 );
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  -moz-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -webkit-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
  -ms-transform: matrix( 0.48450252743198,0,0,0.48477761768103,0,0);
 position: relative;
width: 200.675px;
margin:0;
right: 30px;
}
