@font-face {
    font-family: 'Farray';
    src: url('fonts/farray.otf');
}
@font-face {
    font-family: 'PT Mono';
    src: url('fonts/ptmono.ttf');
}
@font-face {
    font-family: 'PT Mono Bold';
    src: url('fonts/ptmonob.ttf');
}
a{
    text-decoration: none;
    color: inherit;
}
input[type="checkbox"]{
    background: blue;
    border: 2px solid #35bfbf;
}
input[type="radio"]{
    border-radius: 9px;
    border: 2px solid #35bfbf;   
}
body{
    margin: 0;
}
p, label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.nav {
    background-color: #141414;
    position: absolute;
    width: 60px;
    height: 100%;
    text-align: center;
    z-index: 3;
    left:0;
    top:0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
    -moz-transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
    -o-transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
    transition: all 350ms 50ms cubic-bezier(0.645, .045, .355, 1);
}
.nav-logo {
    display: block;
    margin: auto;
    margin-top: 10px;
}
.nav-items {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}
.nav-item {
    position: relative;
    overflow: hidden;
}
.last{
    border: none !important;
}
.nav-item-main {
    -webkit-transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    -moz-transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    -o-transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    transition: all 400ms 600ms cubic-bezier(0.645, .045, .355, 1);
    background-color: #191719;
    z-index: 2;
}
.nav-iconContainer {
    display: block;
    position: relative;
    width: 60px;
    height: 45px;
    border-bottom: 1px solid #35bfbf;
}
.nav-iconContainer:hover{
    background-color: #1e1e1e;
}
.nav-iconContainer img{
    width:25px;
    margin-top: 15px;
}
#medley{
    margin-top: 10px;
}
#info{
    width:auto;
}
.sub_menu{
    background-color: #e6e6e6;
    width: 200px;
    height: 100%;
    position: absolute;
    top:0;
}
.head{
    height:175px;
    background-color: #ffffff;
    width:100%;
    position: absolute;
    text-align: center;
}
.title{
    margin-left: auto;
    margin-right: auto;
}
h2, h3{
    font-family: 'Farray', sans-serif;
}
hr{
    width: 25px;
    border:1px solid black;
    margin-left: 16px;
}
.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
    margin-left: 16px;
}
.arrow{
    position: absolute;
    top:175px;
    width: 30px;
    margin-left: 85px;
}
.content{
    position: absolute;
    left: 60px;
    right:0;
    height: 100%;
    overflow: hidden;
}
.inputs{
    position: absolute;
    top: 300px;
}
.input{
    margin-left: 20px;
    padding-top: 10px;
}
.input_container{
    width: 200px;
    height: 40px;
    cursor: pointer;
}
.input_container:hover{
    background-color: #f3f3f3;
}
.day, #c1{
    margin-left: 60px;
    cursor: pointer;
}
.pass{
    padding-top: 10px;
}
.active{
    background-color: #ffffff;
}
.active:hover{
    background-color: #ffffff;
}
#camp{
    margin-top: 90px;
}
#c1{
    margin-left: 76px;
    cursor:pointer;
}
.tickets{
    position: absolute;
    left: 200px;
    background-image: url(images/bg-billet.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.widget{
    height:auto;
    margin-top: 10%;
    width: 20%;
    background-color: #ffffff;
    padding: 0px;
    text-align: center;
    margin-left: 2%;
    display:inline-block;
}
.first{
    margin-left: 7%;
}
.head_wg{
    background-color: #e6e6e6;
    padding: 7px;
}
.widget .list{
    font-family: 'PT Mono', sans-serif;
    font-size: 12px;
    margin: 10px;
    font-weight: 100;
    color: #363636; 
}
.arrow_grey{
    margin-bottom: 20px;
}
.price{
    font-family: 'PT Mono Bold';
    padding-top: 20px;
    font-size: 20px
}
.book{
    margin-top: 50px;
    position: relative;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    color: #35bfbf; 
}
.button{
    padding: 5px 25px;
    border: 2px solid #35bfbf;
}
.button:hover{
    background-color: #35bfbf;
    color:#ffffff;
}
.bottom_btn{
    float: right;
    height: 50px;
}